$main-color: #09a7bc;
$secondary-color: #044f5a;
$main-accent-color: #fbf2cf;
$secondary-accent-color: rgb(188, 193, 205);
$main-background-color: #002f35;
$secondary-background-color: rgb(52, 58, 70);
